<div class="footer">
    <div class="wrap">
        <div class="footer-text">
            <h2>Get in touch</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputat</p>
            <ul class="follow_icon">
                <li><a href="#" style="opacity: 1;"><img src="images/fb.png" alt=""></a></li>
                <li><a href="#" style="opacity: 1;"><img src="images/tw.png" alt=""></a></li>
                <li><a href="#" style="opacity: 1;"><img src="images/rss.png" alt=""></a></li>
                <li><a href="#" style="opacity: 1;"><img src="images/g+.png" alt=""></a></li>
                <li><a href="#" style="opacity: 1;"><img src="images/pin.png" alt=""></a></li>
            </ul>
            <div class="copy">
                <p> © 2013 All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
            </div>
        </div>
    </div>
</div>