<div class="header">
  <div class="wrap">
	<div class="header-top">
		 <div class="logo">
			 <h1><a href="/">Теплокомплект</a></h1>
		 </div>
	    <div id="text-6" class="visible-all-devices header-text ">
	    	<div class="textwidget">Lorem ipsum dolor,<br>
				diam nonummy nibh.<br>
				<br>
				nostrud exerci tation ullamcorper <br>
				<h5 class="phone">+1 800 253 2560</h5></div>
		</div>
		 <div class="clear"></div>
	   </div>
   </div>
</div>

<div class="about-banner">
  <div class="wrap">
       <div class="cssmenu">
            <ul>
                {% for page in site.pages %}
                  {% if page.title %}
                <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
               <li><a href="index.html"><span>Home</span></a></li>
               <li><a href="about.html"><span>About us</span></a></li>
               <li class="active"><a href="products.html"><span>Products</span></a></li>
               <li class="has-sub"><a href="services.html"><span>Services</span></a></li>
               <li class="last"><a href="contact.html"><span>Contact</span></a></li>
                <div class="clear"></div>
             </ul>
        </div>
  </div>
</div>